<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Si, efectivamente esta es la pagina principal</h1>
    <h3>Para la pagina de ingreso de vehiculos cambiar ruta http://127.0.0.1:8000/form_vehiculo</h3>
    <h3>Para la pagina vehiculos cambiar ruta http://127.0.0.1:8000/vehiculo </h3>
</body>
</html>